<!DOCTYPE html>
<html lang="en">
<head>

{% include "partial/head.njk" %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap">

  {% css "https://cdn.jsdelivr.net/gh/miromannino/Justified-Gallery@3/dist/css/justifiedGallery.min.css" %}

  <link rel="stylesheet" href="{{ '/site.css' | url }}">

  <link rel="preload" href="{{ '/prism-material.css' | url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/prism-material.css' | url }}"></noscript>
</head>

<body class="font-sans font-light leading-normal tracking-normal text-gray-700 bg-gray-100 dark:bg-gray-900 dark:text-gray-400">

  {% include "partial/navbar.njk" %}

  {{ content | safe }}

  {% include "partial/footer.njk" %}

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.init = false;
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/lazysizes@5/lazysizes.min.js"></script>
  <script defer src="{{ '/blurhash.js' | url }}"></script>

  <script defer src="https://cdn.jsdelivr.net/gh/jquery/jquery@3/dist/jquery.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/gh/miromannino/Justified-Gallery@3/dist/js/jquery.justifiedGallery.min.js"></script>
  <script defer src="{{ '/gallery.js' | url }}"></script>

  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

  <script src="{{ '/themetoggle.js' | url }}"></script>
  <script async src="{{ '/topscroll.js' | url }}"></script>

</body>
</html>
