---
layout: default
---

{% include "partial/masthead-style.njk" %}

<header class="relative pt-12 pb-20 bg-center bg-cover masthead md:pt-24 md:pb-40">
	<h1 class="max-w-sm mx-auto text-3xl text-center md:text-5xl sm:max-w-md md:max-w-2xl">{{ metadata.subtitle }}</h1>
	<h3 class="max-w-sm mx-auto text-xl text-center md:text-3xl sm:max-w-md md:max-w-2xl">{{ metadata.description }}</h3>
	<div class="absolute inset-x-0 bottom-0 max-w-6xl mx-auto text-xs md:text-sm theme-light">
		<p class="float-right px-2 mx-5 bg-main">Photo by <a href="https://unsplash.com/@{{ unsplash.default.user.username }}?utm_source={{ metadata.unsplash.utm_source }}&utm_medium=referral">{{ unsplash.default.user.name }}</a> on <a href="https://unsplash.com/?utm_source={{ metadata.unsplash.utm_source }}&utm_medium=referral">Unsplash</a></p>
	</div>
	<div class="absolute inset-x-0 bottom-0 max-w-6xl mx-auto text-xs md:text-sm theme-dark">
		<p class="float-right px-2 mx-5 bg-main">Photo by <a href="https://unsplash.com/@{{ unsplash.default_dark.user.username }}?utm_source={{ metadata.unsplash.utm_source }}&utm_medium=referral">{{ unsplash.default_dark.user.name }}</a> on <a href="https://unsplash.com/?utm_source={{ metadata.unsplash.utm_source }}&utm_medium=referral">Unsplash</a></p>
	</div>
</header>
