<!DOCTYPE html>
<html lang="en">
<head>

{% include "partial/head.njk" %}

	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Fira+Mono">
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

	<link rel="stylesheet" href="/site.css" />
	<link rel="stylesheet" href="/prism-material.css" />
</head>

<body class="font-sans font-light leading-normal tracking-normal text-secondary bg-main">

{% include "partial/navbar.njk" %}

	{{ content | safe }}

{% include "partial/footer.njk" %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" async=""></script>

	<script src="/themetoggle.js"></script>
	<script src="/topscroll.js"></script>

</body>
</html>
