<!DOCTYPE html>
<html lang="en">
<head>

{% include "partial/head.njk" %}

	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Fira+Mono">
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/css/justifiedGallery.min.css" integrity="sha512-CRFv/YVJyElHXTiMgnhWKd2f04Hd/BUJkwcyqYmlpL1ugSYW23nNRazLk960mlz7dugTrETCGGjcsnspPOS6qA==" crossorigin="anonymous" />

	<link rel="stylesheet" href="/site.css" />
	<link rel="stylesheet" href="/prism-material.css" />
</head>

<body class="font-sans font-light leading-normal tracking-normal text-gray-700 bg-gray-100 dark:bg-gray-900 dark:text-gray-400">

{% include "partial/navbar.njk" %}

	{{ content | safe }}

{% include "partial/footer.njk" %}

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/js/jquery.justifiedGallery.min.js" integrity="sha512-8dQZtymfQeDiZ4bBCFhrKZhDcZir15MqnEDBRiR6ReIVHLcdnCyJrhPIS0QifLGuMkFZsw9QMNeD9JtiLwieTQ==" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" integrity="sha512-TmDwFLhg3UA4ZG0Eb4MIyT1O1Mb+Oww5kFG0uHqXsdbyZz9DcvYQhKpGgNkamAI6h2lGGZq2X8ftOJvF/XjTUg==" crossorigin="anonymous"></script>

	<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

	<script src="/themetoggle.js"></script>
	<script src="/topscroll.js"></script>
	<script src="/gallery.js"></script>

</body>
</html>
