	<footer class="text-center">

		<ul class="flex justify-center my-10">
			{% for name, link in metadata.social %}
			<li class="px-5 sm:px-10"><a href="{{ link }}" aria-label="{{ name }}">
				{% simpleicon name %}
			</a></li>
			{% endfor %}
		</ul>

		<section class="my-10">{{ metadata.author }} &copy; {% currentyear %}</section>

		<a id="back-top" class="pb-10 my-10 uppercase" href="#">Back to Top</a>

	</footer>
