	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!--Google Analytics-->
	{% if metadata.google_analytics %}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ metadata.google_analytics }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{ metadata.google_analytics }}');
	</script>
	{% endif %}

	<meta name="description" content="{{ description or metadata.description }}" />
	<meta name="author" content="{{ metadata.author }}" />

	<!-- https://favicon.io/favicon-generator/?t=CM&ff=Open+Sans&fs=75&fc=%23FFFFFF&b=rounded&bc=%23dc3545 -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	<title>{{ title or metadata.title }}</title>
