<style type="text/css">
	:root {
		--unsplash-url-sm: url("{{ unsplash.default.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=640&fit=max");
		--unsplash-url-md: url("{{ unsplash.default.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=768&fit=max");
		--unsplash-url-lg: url("{{ unsplash.default.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1024&fit=max");
		--unsplash-url-xl: url("{{ unsplash.default.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1280&fit=max");
		--unsplash-url-2xl: url("{{ unsplash.default.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2560&fit=max");
	}

	:root[class*='dark'] {
		--unsplash-url-sm: url("{{ unsplash.default_dark.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=640&fit=max");
		--unsplash-url-md: url("{{ unsplash.default_dark.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=768&fit=max");
		--unsplash-url-lg: url("{{ unsplash.default_dark.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1024&fit=max");
		--unsplash-url-xl: url("{{ unsplash.default_dark.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1280&fit=max");
		--unsplash-url-2xl: url("{{ unsplash.default_dark.urls.raw | safe }}&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2560&fit=max");
	}

	.masthead {
		background-image: var(--unsplash-url-sm);
	}

	@media (min-width: 640px) {
		.masthead {
      background-image: var(--unsplash-url-md);
    }
	}

	@media (min-width: 768px) {
		.masthead {
      background-image: var(--unsplash-url-lg);
		}
	}

	@media (min-width: 1024px) {
		.masthead {
      background-image: var(--unsplash-url-xl);
		}
	}

	@media (min-width: 1280px) {
		.masthead {
      background-image: var(--unsplash-url-2xl);
		}
	}
</style>
