	<nav class="flex flex-no-wrap justify-between py-3 mx-auto lg:max-w-5xl xl:max-w-7xl">

		<a class="flex-1 px-3 text-lg font-bold md:px-6 inverted whitespace-nowrap" href="{{ metadata.url }}">{{ metadata.title }}</a>

		<ul class="flex items-center justify-end flex-1 sm:justify-center">
			
			{% for name, link in metadata.navigation %}
			<li class="px-3 md:px-6"><a class="uppercase inverted" href="{{ link | url }}">{{ name }}</a></li>
			{% endfor %}

			<li class="hidden px-3 md:px-6 sm:list-item"><a class="inverted" href="{{ metadata.feedUrl | url }}"><i class="align-middle material-icons">rss_feed</i></a></li>

			<li class="px-3 md:px-6"><a id="toggle" class="text-gray-700 dark:text-gray-400 hover:text-gray-400 dark:hover:text-gray-700" href="#">
				<svg id="moon" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" /></svg>
				<svg id="sun" class="hidden w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5" /><path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42" /></svg>
			</a></li>

		</ul>

		<ul class="items-center justify-end flex-1 hidden sm:flex">
			{% for name, link in metadata.social %}
			<li class="px-3 md:px-6"><a class="inverted" href="{{ link }}" aria-label="{{ name }}" rel="noopener noreferrer" target="_blank">
				<div class="text-2xl">{% simpleicon name %}</div>
			</a></li>
			{% endfor %}
		</ul>

	</nav>
