@tailwind base;

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: background-color 750ms, color 750ms, opacity 750ms !important;
	transition-delay: 0 !important;
}

@tailwind components;

a {
	@apply text-primary;
}

a:hover {
	@apply text-gray-700 dark:text-gray-400;
}

a.inverted {
	@apply text-gray-700 dark:text-gray-400; 
}

a.inverted:hover {
	@apply text-primary;
}

@media (min-width: 768px) {
	.post-card:nth-of-type(6n+1) {
		width: 100%;

		& .post-card__container {
			flex-direction: row;
		}
	
		& .post-card__image {
			min-height: 24rem;
			position: relative;
			flex: 2 2 auto;
			width: auto;
		}
	}
}

@layer utilities {
	@variants responsive {
		.list-item {
			display: list-item;
		}	
	}

	@variants dark {
		.header-shadow-dark {
			text-shadow:
			2px 2px 10px theme("colors.gray.900"),
			-2px 2px 10px theme("colors.gray.900"),
			2px -2px 10px theme("colors.gray.900"),
			-2px -2px 10px theme("colors.gray.900"),
	
			4px 4px 10px theme("colors.gray.900"),
			-4px 4px 10px theme("colors.gray.900"),
			4px -4px 10px theme("colors.gray.900"),
			-4px -4px 10px theme("colors.gray.900");
		}
		.header-shadow-light {
			text-shadow:
			2px 2px 10px theme("colors.gray.100"),
			-2px 2px 10px theme("colors.gray.100"),
			2px -2px 10px theme("colors.gray.100"),
			-2px -2px 10px theme("colors.gray.100"),

			4px 4px 10px theme("colors.gray.100"),
			-4px 4px 10px theme("colors.gray.100"),
			4px -4px 10px theme("colors.gray.100"),
			-4px -4px 10px theme("colors.gray.100");
		}
	}
}

@tailwind utilities;

.icon {
	@apply inline-flex;

	& svg {
    height: 1.3em;
    width: 1.3em;
    top: .16em;
    position: relative;
	}
}

.jg-caption {
	display: hidden;
}

.lazyload {
	object-fit: fill;
}
