@tailwind base;

:root {
	--color-main: theme("colors.gray.100");
	--color-index: theme("colors.gray.200");
	--color-primary: #dc3545;
	--color-secondary: theme("colors.gray.700");

	--opacity-light: 1;
	--opacity-dark: 0;
}

:root[data-theme="dark"] {
	--color-main: theme("colors.gray.900");
	--color-index: theme("colors.gray.800");
	--color-primary: #dc3545;
	--color-secondary: theme("colors.gray.400");

	--opacity-light: 0;
	--opacity-dark: 1;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: background-color 750ms, color 750ms, opacity 750ms !important;
	transition-delay: 0 !important;
}

@tailwind components;

a {
	@apply text-primary;
}

a:hover {
	@apply text-secondary;
}

a.inverted {
	@apply text-secondary; 
}

a.inverted:focus,
a.inverted:hover {
	@apply text-primary;
}

@media (min-width: 768px) {
	.post-card:nth-of-type(6n+1) {
		width: 100%;
		flex-direction: row;
	
		& .post-card__image {
			min-height: 20rem;
			position: relative;
			flex: 2 2 auto;
			width: auto;
		}
	}
}

@tailwind utilities;

.theme-light {
	opacity: var(--opacity-light);
}

.theme-dark {
	opacity: var(--opacity-dark);
}

.header-shadow {
	text-shadow:
	2px 2px 10px var(--color-main),
	-2px 2px 10px var(--color-main),
	2px -2px 10px var(--color-main),
	-2px -2px 10px var(--color-main),

	4px 4px 10px var(--color-main),
	-4px 4px 10px var(--color-main),
	4px -4px 10px var(--color-main),
	-4px -4px 10px var(--color-main);
}

.icon {
	@apply inline-flex;

	& svg {
    height: 1em;
    width: 1em;
    top: .16em;
    position: relative;
	}
}
