name: Eleventy Build

on:
  - pull_request_target

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - run: npm install
      - run: npm run build
        env:
          UNSPLASH_APP_ID: ${{ secrets.UNSPLASH_APP_ID }}
          UNSPLASH_SECRET: ${{ secrets.UNSPLASH_SECRET }}
      - uses: tjenkinson/gh-action-auto-merge-dependency-updates@v1
        with:
          allowed-actors: dependabot-preview[bot], dependabot[bot]
